sbpro-card
    .card-header Scrollable Bootstrap Modals
    .card-body
        h6.small.text-muted.fw-500 Page Scrolling Long Modal:
        .sbp-preview.mb-4
            .sbp-preview-content

                button.btn.btn-primary(
                    type='button',
                    (click)='open(modalScrollable)'
                ) Launch Scrollable Modal

            .sbp-preview-code
                sbpro-code-sample(
                    [codeSamples]='codeSamples',
                )

            .sbp-preview-text.
                By default, the content within a modal will scroll independently of the page if the content is too long
                If you don't want the page to scroll, use the next option.
        
        h6.small.text-muted.fw-500 Modal Dialog Scrolling Long Modal:
        .sbp-preview.mb-4
            .sbp-preview-content

                button.btn.btn-primary(
                    type='button',
                    (click)='open(modalScrollable, {scrollable: true})'
                ) Launch Scrollable Modal

            .sbp-preview-code
                sbpro-code-sample(
                    [codeSamples]='codeSamplesModalScroll',
                )

            .sbp-preview-text.
                Use the <code>&#123;scrollable: true&#125;</code> NgbModalOptions to make longer modal content scroll
                within the modal body if the contents is longer than the viewport height.


ng-template(#modalScrollable, let-modal)
    .modal-header
        h5.modal-title Long Modal with Page Scrolling
        button.btn-close(
            type='button',
            aria-label='Close',
            (click)='modal.dismiss("Cross click")'
        )
            span(aria-hidden='true') ×
    .modal-body
        sbpro-lorem-ipsum
        sbpro-lorem-ipsum
        sbpro-lorem-ipsum
        sbpro-lorem-ipsum
        sbpro-lorem-ipsum
        sbpro-lorem-ipsum
        sbpro-lorem-ipsum
        sbpro-lorem-ipsum
        sbpro-lorem-ipsum
        sbpro-lorem-ipsum
        sbpro-lorem-ipsum.mb-0
    .modal-footer
        button.btn.btn-secondary(
            type='button',
            (click)='modal.close("Close Click")'
        ) Close
        button.btn.btn-primary(
            type='button',
            (click)='modal.close("Save Click")'
        ) Save changes
