.card.mb-4
    .card-header
        | People
    .card-body
        // Item 1
        .d-flex.align-items-center.justify-content-between.mb-4
            .d-flex.align-items-center.flex-shrink-0.me-3
                .avatar.avatar-xl.me-3.bg-gray-200
                    img.avatar-img.img-fluid(src='assets/img/illustrations/profiles/profile-1.png', alt='')
                .d-flex.flex-column.fw-bold
                    a.text-dark.line-height-normal.mb-1(href='javascript:void(0);') Sid Rooney
                    .small.text-muted.line-height-normal Position
            sbpro-dropdown(
                placement='bottom-end',
                animation='animated--fade-in-up',
                [classes]='["no-caret"]'
            )
                .dropdown-trigger
                    i-feather.text-gray-500(name='more-vertical')
                .dropdown-items
                    a.dropdown-item(href='javascript:void(0);') Action
                    a.dropdown-item(href='javascript:void(0);') Another action
                    a.dropdown-item(href='javascript:void(0);') Something else here

        // Item 2
        .d-flex.align-items-center.justify-content-between.mb-4
            .d-flex.align-items-center.flex-shrink-0.me-3
                .avatar.avatar-xl.me-3.bg-gray-200
                    img.avatar-img.img-fluid(src='assets/img/illustrations/profiles/profile-2.png', alt='')
                .d-flex.flex-column.fw-bold
                    a.text-dark.line-height-normal.mb-1(href='javascript:void(0);') Keelan Garza
                    .small.text-muted.line-height-normal Position
            sbpro-dropdown(
                placement='bottom-end',
                animation='animated--fade-in-up',
                [classes]='["no-caret"]'
            )
                .dropdown-trigger
                    i-feather.text-gray-500(name='more-vertical')
                .dropdown-items
                    a.dropdown-item(href='javascript:void(0);') Action
                    a.dropdown-item(href='javascript:void(0);') Another action
                    a.dropdown-item(href='javascript:void(0);') Something else here

        // Item 3
        .d-flex.align-items-center.justify-content-between.mb-4
            .d-flex.align-items-center.flex-shrink-0.me-3
                .avatar.avatar-xl.me-3.bg-gray-200
                    img.avatar-img.img-fluid(src='assets/img/illustrations/profiles/profile-3.png', alt='')
                .d-flex.flex-column.fw-bold
                    a.text-dark.line-height-normal.mb-1(href='javascript:void(0);') Kaia Smyth
                    .small.text-muted.line-height-normal Position
            sbpro-dropdown(
                placement='bottom-end',
                animation='animated--fade-in-up',
                [classes]='["no-caret"]'
            )
                .dropdown-trigger
                    i-feather.text-gray-500(name='more-vertical')
                .dropdown-items
                    a.dropdown-item(href='javascript:void(0);') Action
                    a.dropdown-item(href='javascript:void(0);') Another action
                    a.dropdown-item(href='javascript:void(0);') Something else here

        // Item 4
        .d-flex.align-items-center.justify-content-between.mb-4
            .d-flex.align-items-center.flex-shrink-0.me-3
                .avatar.avatar-xl.me-3.bg-gray-200
                    img.avatar-img.img-fluid(src='assets/img/illustrations/profiles/profile-4.png', alt='')
                .d-flex.flex-column.fw-bold
                    a.text-dark.line-height-normal.mb-1(href='javascript:void(0);') Kerri Kearney
                    .small.text-muted.line-height-normal Position
            sbpro-dropdown(
                placement='bottom-end',
                animation='animated--fade-in-up',
                [classes]='["no-caret"]'
            )
                .dropdown-trigger
                    i-feather.text-gray-500(name='more-vertical')
                .dropdown-items
                    a.dropdown-item(href='javascript:void(0);') Action
                    a.dropdown-item(href='javascript:void(0);') Another action
                    a.dropdown-item(href='javascript:void(0);') Something else here

        // Item 5
        .d-flex.align-items-center.justify-content-between.mb-4
            .d-flex.align-items-center.flex-shrink-0.me-3
                .avatar.avatar-xl.me-3.bg-gray-200
                    img.avatar-img.img-fluid(src='assets/img/illustrations/profiles/profile-5.png', alt='')
                .d-flex.flex-column.fw-bold
                    a.text-dark.line-height-normal.mb-1(href='javascript:void(0);') Georgina Findlay
                    .small.text-muted.line-height-normal Position
            sbpro-dropdown(
                placement='bottom-end',
                animation='animated--fade-in-up',
                [classes]='["no-caret"]'
            )
                .dropdown-trigger
                    i-feather.text-gray-500(name='more-vertical')
                .dropdown-items
                    a.dropdown-item(href='javascript:void(0);') Action
                    a.dropdown-item(href='javascript:void(0);') Another action
                    a.dropdown-item(href='javascript:void(0);') Something else here

        // Item 6
        .d-flex.align-items-center.justify-content-between
            .d-flex.align-items-center.flex-shrink-0.me-3
                .avatar.avatar-xl.me-3.bg-gray-200
                    img.avatar-img.img-fluid(src='assets/img/illustrations/profiles/profile-6.png', alt='')
                .d-flex.flex-column.fw-bold
                    a.text-dark.line-height-normal.mb-1(href='javascript:void(0);') Wilf Ingram
                    .small.text-muted.line-height-normal Position
            sbpro-dropdown(
                placement='bottom-end',
                animation='animated--fade-in-up',
                [classes]='["no-caret"]'
            )
                .dropdown-trigger
                    i-feather.text-gray-500(name='more-vertical')
                .dropdown-items
                    a.dropdown-item(href='javascript:void(0);') Action
                    a.dropdown-item(href='javascript:void(0);') Another action
                    a.dropdown-item(href='javascript:void(0);') Something else here



