ng-container(*ngIf='icon; else withoutIcon')
    .alert.alert-icon(
        *ngIf='!dismissed',
        [ngClass]='classes',
        role='alert'
    )
        button.btn-close(
            *ngIf='dismissable',
            type='button',
            aria-label='Close',
            (click)='closeAlert()'
        )
            span(aria-hidden='true') ×
        ng-content(select='.alert-icon-aside')
        .alert-icon-content
            h5.alert-heading(*ngIf='heading') {{heading}}
            ng-container(*ngTemplateOutlet='defaultContent')

ng-template(#withoutIcon)
    .alert(
        *ngIf='!dismissed',
        [ngClass]='classes',
        role='alert'
    )
        button.btn-close(
            *ngIf='dismissable',
            type='button',
            aria-label='Close',
            (click)='closeAlert()'
        )
            span(aria-hidden='true') ×
        h5.alert-heading(*ngIf='heading') {{heading}}
        ng-container(*ngTemplateOutlet='defaultContent')


ng-template(#defaultContent)
    ng-content