sbpro-dashboard-head(
    icon='more-horizontal',
    title='Step',
    description='A step component to use with form wizards or any element that needs a vertical step navigation'
)
.container-xl.px-4.mt-n10
    .row.gx-4
        .col-lg-9
            sbpro-step-basic(
                sbproTocItem='Basic'
            )
            sbpro-step-sizing(
                sbproTocItem='Sizing'
            )
            sbpro-step-colors(
                sbproTocItem='Colors'
            )
            sbpro-step-items(
                sbproTocItem='Items'
            )

        .col-lg-3
            sbpro-toc-nav([tocIndex]='tocIndex')
