sbpro-dashboard-head-compact(
    title='Account Settings - Notifications',
    icon='user'
)

// Main page content
.container-xl.px-4.mt-4
    // Account page navigation
    nav.nav.nav-borders
        a.nav-link(routerLink='/dashboard/account/profile') Profile
        a.nav-link(routerLink='/dashboard/account/files') Files
        a.nav-link(routerLink='/dashboard/account/security') Security
        a.nav-link.active(routerLink='/dashboard/account/notifications') Notifications
        a.nav-link(routerLink='/dashboard/account/administrator') Administrator
    hr.mt-0.mb-4
    .row.gx-4
        .col-lg-12
            // notifications preferences card
            .card.mb-4
                .card-header Notifications
                .card-body
                    form
                        // Form Group (selection)
                        .mb-3
                            label.small.mb-1 Choose where to send your notification
                            .form-check
                                input#checkEmailNotification.form-check-input(
                                    type='checkbox', checked
                                )
                                label.form-check-label(for='checkEmailNotification') Receive Email Notification
                            .form-check
                                input#checkSMSNotification.form-check-input(
                                    type='checkbox', checked
                                )
                                label.form-check-label(for='checkSMSNotification') Receive SMS Notification
                        // Form Group (updates checkboxes)
                        .mb-0
                            label.small.mb-1 Choose which types of notification updates you receive
                            .form-check
                                input#checkAccountChanges.form-check-input(
                                    type='checkbox', checked
                                )
                                label.form-check-label(for='checkAccountChanges') Changes made to your account
                            .form-check
                                input#checkPromotional.form-check-input(
                                    type='checkbox', 
                                    checked
                                )
                                label.form-check-label(for='checkPromotional') Marketing and promotional offers
                            .form-check
                                input#checkSecurity.form-check-input(
                                    type='checkbox', 
                                    checked, 
                                    disabled,
                                    data-bs-toggle='tooltip', data-bs-placement='top', title='Security Notification'
                                )
                                label.form-check-label(for='checkSecurity') Account security alerts