sb-layout-auth
    .container-xl.px-4
        .row.gx-4.justify-content-center
            .col-lg-5
                .card.shadow-lg.border-0.rounded-lg.mt-5
                    .card-header.justify-content-center
                        h3.fw-light.my-4 Password Recovery
                    .card-body
                        .small.mb-3.text-muted Enter your email address and we will send you a link to reset your password.
                        form([formGroup]='forgotPasswordForm', (ngSubmit)='onSubmit()')
                            .mb-3
                                label.small.mb-1(for='inputEmailAddress') Email
                                input#inputEmailAddress.form-control(
                                    data-cy='emailInput',
                                    type='email',
                                    placeholder='Enter email address',
                                    aria-describedby='emailHelp',
                                    formControlName='email',
                                    [class.is-valid]='emailControlValid',
                                    [class.is-invalid]='emailControlInvalid'
                                )
                                .invalid-feedback(*ngIf='emailControl.hasError("required")')
                                    | Email required.
                                .invalid-feedback(*ngIf='emailControl.hasError("email")')
                                    | Email is not valid.
                            
                            .d-flex.align-items-center.justify-content-between.mt-4
                                a.small(routerLink='/auth/login') Return to login
                                
                                button.btn.btn-primary(
                                    data-cy='resetPasswordButton',
                                    type='submit',
                                    [disabled]='forgotPasswordForm.invalid'
                                ) Reset Password

                    .card-footer.text-center
                        .small
                            a(routerLink='/auth/register') Need an account? Sign up!

ng-template(#confirmationModal, let-modal)
    .modal-header
        h5.modal-title Forgot Password Form Data
        button.btn-close(
            type='button',
            aria-label='Close',
            (click)='modal.dismiss("Cross click")'
        )
            span(aria-hidden='true') ×
    .modal-body.
        Wired up and ready to go. Just add a backend.
        <br><br>
        email: <code>{{forgotPasswordForm.value.email}}</code>
    .modal-footer
        button.btn.btn-secondary(
            type='button',
            (click)='modal.close()'
        ) Close
        button.btn.btn-primary(
            type='button',
            (click)='modal.close("DASHBOARD")'
        ) Proceed back to Dashboard
