sbpro-card
    .card-header Step Component Color Options
    .card-body
        .sbp-preview
            .sbp-preview-content
                sbpro-step(
                    [active]='2',
                    [steps]='steps',
                    color='primary',
                    (stepClicked)='onClicked($event)'
                )
                sbpro-step(
                    [active]='2',
                    [steps]='steps',
                    color='secondary',
                    (stepClicked)='onClicked($event)'
                )
                sbpro-step(
                    [active]='2',
                    [steps]='steps',
                    color='success',
                    (stepClicked)='onClicked($event)'
                )
                sbpro-step(
                    [active]='2',
                    [steps]='steps',
                    color='info',
                    (stepClicked)='onClicked($event)'
                )
                sbpro-step(
                    [active]='2',
                    [steps]='steps',
                    color='warning',
                    (stepClicked)='onClicked($event)'
                )
                sbpro-step(
                    [active]='2',
                    [steps]='steps',
                    color='danger',
                    (stepClicked)='onClicked($event)'
                )

            .sbp-preview-code
                sbpro-code-sample(
                    [codeSamples]='codeSamples',
                )

            .sbp-preview-text.
                Color can be any of <code>SBThemeColors</code> in <code>@common/models</code>
