sbpro-dashboard-head(
    icon='droplet',
    title='Background',
    description='Add color and modify element backgrounds with built in, and extended background utilities'
)
.container-xl.px-4.mt-n10
    .row.gx-4
        .col-lg-9
            sbpro-background-default(
                sbproTocItem='Default'
            )
            sbpro-background-expanded(
                sbproTocItem='Expanded'
            )
            sbpro-background-gradient(
                sbproTocItem='Gradient'
            )
            sbpro-background-grayscale(
                sbproTocItem='Grayscale'
            )
            sbpro-background-images(
                sbproTocItem='Images'
            )
            sbpro-background-overlay(
                sbproTocItem='Overlay'
            )
        .col-lg-3
            sbpro-toc-nav([tocIndex]='tocIndex')
