li.nav-item.dropdown.no-caret.me-3.me-lg-0.dropdown-user(
    *ngIf='profileData',
    ngbDropdown,
    [placement]='placement',
    display='dynamic'
)
    a#navbarDropdownUserImage.btn.btn-icon.btn-transparent-dark.dropdown-toggle(
        ngbDropdownToggle,
        data-cy='userMenu',
        role='button',
        aria-haspopup='true',
        aria-expanded='false'
    )
        img.img-fluid([src]='profileData.image_path')

    .dropdown-menu.border-0.shadow.animated--fade-in-up(
        ngbDropdownMenu,
        aria-labelledby='dropdownUser'
    )
        h6.dropdown-header.d-flex.align-items-center
            img.dropdown-user-img([src]='profileData.image_path')
            .dropdown-user-details
                .dropdown-user-details-name {{ profileData.first_name }} {{ profileData.last_name }}
                .dropdown-user-details-email {{ profileData.email_address }}
        .dropdown-divider
        a.dropdown-item(routerLink='/dashboard/account/profile')
            .dropdown-item-icon
                i-feather(name='settings')
            | Profile
        a.dropdown-item((click)="logout()") 
            .dropdown-item-icon
                i-feather(name='log-out')
            | Logout
