form
    .mb-3
        .input-group.table-search
            input.form-control(
                type='text',
                name='searchTerm',
                placeholder='Search',
                [(ngModel)]='fileUploadService.searchTerm'
            )
            span.input-group-text(*ngIf='fileUploadService.loading$ | async')
                .spinner-border.spinner-border-sm.text-primary(role='status')
                    .visually-hidden Loading...
    .table-responsive.table-activities
        table.table
            thead
                tr
                    th(
                        scope='col',
                        sbSortable='identification_type',
                        (sort)='onSort($event)'
                    ) 
                        span Identification Type
                        sb-sort-icon(
                            *ngIf='sortedColumn === "identification_type"',
                            [direction]='sortedDirection'
                        )
                    th(
                        scope='col',
                        sbSortable='date',
                        (sort)='onSort($event)'
                    ) 
                        span Date Uploaded
                        sb-sort-icon(
                            *ngIf='sortedColumn === "date"',
                            [direction]='sortedDirection'
                        )
                    th(scope='col') 
                        span Action

            tbody
                tr(*ngFor='let fileUpload of file_upload$ | async')
                    td
                        .d-inline-flex.align-items-center
                            span.badge.bg-green(*ngIf="fileUpload.status === 'verified'") {{fileUpload.status}} 
                            span.badge.bg-yellow(*ngIf="fileUpload.status === 'pending'") {{fileUpload.status}} 
                        ngb-highlight(
                            [result]='" " + fileUpload.identification_list_type',
                            [term]='fileUploadService.searchTerm'
                        ) 
                    td
                        ngb-highlight(
                            [result]='formatDate(fileUpload.created_at)',
                            [term]='fileUploadService.searchTerm'
                        )
                    td
                        .d-inline-flex.align-items-center
                            ng-container(*ngIf='fileUpload.identification_list_type')
                                a(href='{{fileUpload.identification_path}}', target="_blank") View
                                a(style="margin-left: 15px;") Delete
    .d-flex.justify-content-between.align-items-center.p-2
        ngb-pagination(
            [collectionSize]='total$ | async',
            [(page)]='fileUploadService.page',
            [pageSize]='fileUploadService.pageSize'
        )

        select.form-select(
            style='width: auto',
            name='pageSize',
            [(ngModel)]='fileUploadService.pageSize'
        )
            option([ngValue]='4') 4 items per page
            option([ngValue]='8') 8 items per page
            option([ngValue]='16') 16 items per page